startservicenames=Babysitter Prospero [P3SALTRQWS04_RBC],rbcqa1ws3s3,rbcqa1afss2,rbcqa1csas1
stopservicenames=rbcqa1csas1,rbcqa1afss2,rbcqa1ws3s3,Babysitter Prospero [P3SALTRQWS04_RBC]
KillProcess=pipeman.exe
sleepsec=30
WarSourcePath=D:/Hudson/slave/workspace/RBC-QA-SALEM-DEPLOYWAR
JarSourcePath=D:/Hudson/slave/workspace/RBC-QA-SALEM-DEPLOYWAR
WSWar=wealthstation.war
CMPJar=RBC.jar
WarDestPath=C:/scm/misc/RBC-QA-SALEM/war
DeployBase=D:/root/home/muttuser/Wasatch
DeployDir=root
CSADeployDir=D:/root/home/muttuser/csa
BackupDir=D:/ws.backup
KeepBackupCount=4
authxml=authorizations.xml
CordaType=common
CordaDestPath=C:/Corda/Corda7.3/Resources/doc_root/image_templates/apfiles
ws3sql=WealthStation3.sql,ws3AccountDB/ws3WSTradingViews.sql
mastersql=InsertImportMasterData.sql,InsertFieldRegistryData.sql
antsqltarget=updateWealthStationDatabase
ws.firmname=RBCDAINCS_DEV
onetimesql=WSTHREE-6435_update_export_config.sql,UpdateRevenuesForOpportunitiesCreatedFromCampaign.sql
Job_ID_for_AFS_BALANCE_JOB=M4JA13U0
Job_ID_for_AFS_POSITIONS_JOB=M4J9U6ON
ws3tomcathome=tomcat-home
dir-to-cleanup=separatedbycomma
#5.03
cordaservicename=cordaservice
